/**
$purple: #660066;
$green: #77CCA4;
$orange: #FF9900;
$red: #A40802;
$blue: #2385AF;
$light-blue   : lighten($blue, 50%);
$white: white;
$gray  : #AAAAAA;
$dark-gray: #2c2c2c;

$global-emphasis-color: $purple;
$inverse-global-color:$blue;


$global-primary-background: $purple;
$global-success-background: $green;
$global-warning-background: $orange;
$global-danger-background: $red;
$global-link-color: $blue;
$global-link-hover-color: $light-blue;
$base-selection-background: $blue;

$navbar-background: $purple;
$navbar-nav-item-padding-horizontal:8px;
$logo-color: $white;
$logo-hover-color: $logo-color;

$search-color: $white;
$search-placeholder-color: $white;

$global-font-family: "Open Sans", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$offcanvas-bar-width: 250px;
$offcanvas-bar-width-m: $offcanvas-bar-width;
$offcanvas-bar-background: $white;
$offcanvas-bar-color-mode: dark;

$base-heading-color: $dark-gray;
$global-xxlarge-font-size: 36px;
$base-h1-font-size: $global-xxlarge-font-size;
$global-xlarge-font-size: 30px;
$base-h2-font-size: $global-xlarge-font-size;
$global-large-font-size: 24px;
$global-medium-font-size: 18px;
$global-font-size: 14px;

$breakpoint-small: 640px;
$breakpoint-xsmall-max: ($breakpoint-small - 1);
$breakpoint-small-max: $breakpoint-xsmall-max;

@import "aire-theme";
@mixin hook-offcanvas-bar(){
  border-right: 5px solid $gray;
}
@import "aire-components";


$fa-font-path: "fonts";
@import "font-awesome";

.aire-body {
  overflow-y: auto;
}

.html-panel {
  display:flex;
  flex-direction: column;
  align-items: center;

  .example {
    min-height:100px;
    position:relative;
    pre {
      display:block;
      position:absolute;
      border:1px solid $gray;
      border-radius: 0;
      top:0;
      left:0;
      bottom:0;
      right:0;
    }

    .aire-fab {
      position: absolute;
    }

    .aire-icon {
      max-height:50px;
      max-width:50px;
    }

  }
}
*/