$purple: #660066;
$green: #77CCA4;
$orange: #FF9900;
$red: #A40802;
$blue: #2385AF;
$light-blue   : lighten($blue, 50%);
$white: white;

$global-primary-background: $purple;
$global-success-background: $green;
$global-warning-background: $orange;
$global-danger-background: $red;
$global-link-color: $blue;
$global-link-hover-color: $light-blue;
$base-selection-background: $blue;

$navbar-background: $purple;
$navbar-nav-item-padding-horizontal:8px;
$logo-color: $white;
$logo-hover-color: $logo-color;

$search-color: $white;
$search-placeholder-color: $white;

$global-font-family: "Open Sans", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$offcanvas-bar-width: 200px;
$offcanvas-bar-background: $white;
$offcanvas-bar-color-mode: dark;

//@mixin hook-offcanvas-bar(){
//  border-right: 5px solid #2385AF;
//}

@import "aire";
$fa-font-path:        "fonts";
@import "font-awesome";