$purple: #660066;
$green: #77CCA4;
$orange: #FF9900;
$red: #A40802;
$blue: #2385AF;
$light-blue   : lighten($blue, 50%);

$global-primary-background: $purple;
$global-success-background: $green;
$global-warning-background: $orange;
$global-danger-background: $red;
$global-link-color: $blue;
$global-link-hover-color: $light-blue;
$base-selection-background: $blue;
@import "variables-theme";
@import "mixins-theme";



@import "uikit";
@import "uikit-theme";
//@import "aire";
@import "font-awesome";