template
    ul.uk-navbar-nav
        li.uk-active
            a Hello
    //.uk-navbar-left
    //.uk-navbar-center
    //    ul.uk-navbar-nav
    //        li.uk-active
    //            a Hello
    //.uk-navbar-right
    //    ul.uk-navbar-nav
    //        li.uk-active
    //            a Hello
    //div(ref="element")
    //    ul.uk-navbar-nav
    //        li.uk-active
    //            a Hello
