template
    aire-application
        aire-header(sticky dark)
            navbar-section(left)
                navbar-item
                    aire-button(icon="fa fa-bars" square click.delegate="toggleOffCanvas()" primary)
            navbar-section(center)
                navbar-item(icon="dist/icons/logo.svg" large logo)
                navbar-item(logo) Aurelia + UIkit
        aire-body(view.ref="body")
            aire-offcanvas(view-model.ref="offcanvas" host.bind="body" push)
                aire-search(navbar icon)
                aire-nav(router.bind="router")
            router-view
            aire-fab(icon="fa fa-pencil" bottom="20px" right="20px")
            aire-tooltip
                p Testing