template
    aire-divided-card

    aire-divided-card
        p Hello, world

    aire-divided-card(title.bind="title")

    aire-divided-card(header)
        h1.fancyHeader(slot="header") Hello

    aire-divided-card(footer)
        .fancyFooter(slot="footer") Goodbye

    aire-divided-card(header footer)
        h1.fancyHeader(slot="header") Hello
        p This is my content
        .fancyFooter(slot="footer") Goodbye