template
    .uk-width-1-1.uk-height-1-1.aire-landing
        navbar(light)
            navbar-section(left)
                navbar-item(href="https://sunshower.io" target="_blank" medium logo icon="dist/icons/sunshower-logo.svg")
                navbar-item(href="https://sunshower.io" target="_blank") Sunshower.io
        .uk-container.aire-text-center.uk-light
            h1.uk-heading-hero
                aire-icon(icon="dist/icons/logo.svg" classes="uk-width-small")
                div Aurelia-Aire

            h2.uk-h3 A lovingly hand-crafted framework using Aurelia and UIkit

            div(class="uk-child-width-1-3@s")
                aire-button(href="#/docs" label="GET STARTED")
                aire-button(href="https://github.com/sunshower-io/aurelia-aire" target="_blank" label="GET INVOLVED")
                aire-button(href="https://sunshower.io" target="_blank" label="GET SUNSHOWER.IO")