template
    div(style="width:100%; height:100%; background-color:#660066" ref="overlay")
        div(style="width:100%; height:100%; background-color:#660066; color:#FF00FF;" ref="page")
            .uk-container.uk-width-1-1(ref="container")
                h1.uk-h1.uk-heading-hero aurelia-aire
                h2.uk-h2.uk-heading-divider a ui framework built on aurelia and uikit

                p aurelia-aire uses aurelia v1.3 and uikit v3 to help you serve up all the finest forms, navigation and other handy ui bits you might need in building your web applications.

                p things are constantly being added
                    | , and while the project is headed by the devs at
                    |
                    a(href="https://sunshower.io" target="_blank") sunshower.io
                    | , we would love for you to
                    |
                    a(href="https://github.com/sunshower-io/aurelia-aire" target="_blank") contribute your changes
                    | .
