template
    h1 Aurelia-Aire
    h2 A UI framework built on Aurelia and UIkit.

    p Aurelia-Aire uses Aurelia v1.3 and UIkit v3 to help you serve up all the finest forms, navigation and other handy UI bits you might need in building your web applications.

    p Things are constantly being added, and while the project is headed by the devs at
        a(href="https://sunshower.io" target="_blank") Sunshower.io
        | , we would for you to
        a(href="https://github.com/sunshower-io/aurelia-aire" target="_blank") contribute your changes
        | .
