template
    aire-button(default)

    aire-button(primary)

    aire-button(secondary)

    aire-button(danger)

    aire-button(text)

    aire-button(link)

    aire-button(full)

    aire-button(small)

    aire-button(large)

    aire-button(square)