template.aire-application
    header.aire-header
        slot(name="header")
    main.aire-body
        slot(name="body")
    aside.aire-aside
        slot(name="aside")
    footer.aire-footer
        slot(name="footer")
