template
    header.aire-header
        slot(name="header")
    section.aire-body
        slot(name="body")
    aside.aire-aside
        slot(name="aside")
    article.aire-footer
        slot(name="footer")
