template
    aire-divided-card(default title="Default")
        p Hello, world

    aire-divided-card(primary title="Primary")
        p Hello, world

    aire-divided-card(secondary title="Secondary")
        p Hello, world

    aire-divided-card(hover title="Hover")
        p Hello, world

    aire-divided-card(padding title="Padding")
        p Hello, world

    aire-divided-card(padding-small title="Padding-Small")
        p Hello, world

    aire-divided-card(padding-large title="Padding-Large")
        p Hello, world