template.au-animate
    .html-panel(ref="element")
        section.uk-container.uk-width-1-1
            h1.uk-h1 ${component.component}
            span(innerhtml.bind="component.description.summary")

            template(if.bind="props(component.tags, 'bindable').length > 0")
                h2.uk-h2.uk-heading-bullet Bindable Properties
                table.uk-table.uk-table-small
                    tbody
                        tr(repeat.for="tag of props(component.tags, 'bindable')")
                            td.uk-table-shrink ${tag.name}
                            td(innerhtml.bind="tag.description")

            template(if.bind="props(component.tags, 'pseudo').length > 0")
                h2.uk-h2.uk-heading-bullet Attributes
                table.uk-table.uk-table-small
                    tbody
                        tr(repeat.for="tag of props(component.tags, 'pseudo')")
                            td.uk-table-shrink ${tag.name}

            hr.uk-divider-icon

            component-section(repeat.for="section of component.sections" section.bind="section")

