template.au-animate
    .html-panel(ref="element")
        section
            h1 ${component.component}
            span(innerhtml.bind="component.description.summary")

            h2 Bindable Properties
            div(repeat.for="tag of props(component.tags, 'bindable')" if.bind="tag.type === 'param'")
                span ${tag.name}

            hr.uk-divider-icon

            h2 Attributes
            div(repeat.for="tag of props(component.tags, 'pseudo')" if.bind="tag.type === 'param'")
                span ${tag.name}
            component-section(repeat.for="section of component.sections" section.bind="section")

