template
    aire-page(padded loading="false")
        h1 ${title}
        section(repeat.for="component of components")
            h2 ${component.name}
            p ${component.description}
            aire-tab-panel(repeat.for="directory of component.directories")
                aire-tab(repeat.for="hfile of directory.help" title.bind="hfile")
                    html-panel(url.bind="urlFor(hfile, directory, component)")
