template
    aire-button

    aire-button(label="Click Me")

    aire-button(icon="fa fa-pencil")

    aire-button(icon="fa fa-pencil" label="Click Me")

    aire-button(disabled label="Click Me")

    aire-button(type="reset" label="Reset Me")