template
    h1 Coolbeans! You got ${title}
        aire-tab-panel

    //div(repeat.for="component of components")
    //    div(repeat.for="directory of component.directories")
    //        aire-tab-panel
    //        h2 ${directory.directory}
    //        div(repeat.for="hfile of directory.help")
    //            aire-html-panel(url.bind="urlFor(hfile, directory, component)")