template
    aire-application
        aire-header(sticky dark)
            navbar-section(left)
                navbar-item
                    aire-button(icon="fa fa-bars" square click.delegate="toggleOffCanvas()" primary)
            navbar-section(center)
                navbar-item(icon="dist/icons/logo.svg" large logo)
                navbar-item(logo) Aurelia + UIkit
        aire-body
            aire-offcanvas(view-model.ref="offcanvas")
                aire-search(navbar icon offcanvas-header)
                aire-nav(router.bind="router")
            router-view
            aire-widget-panel
            aire-basic-card(title="coolbeans")
    //form
    //    aire-input(type="password" horizontal disabled label="Password")
    //    aire-input(type="number" success label="Great Success")
    //    aire-select(label="Gender" data='{"label":"Schnorp", "value": "Porp"}')
    //    aire-textarea(label="Love Letter To Wab")
    //
    //    .uk-margin
    //        aire-radio(label="One Option" value="florb" horizontal)
    //    .uk-margin
    //        aire-checkbox(label="Many Options" value="florb" disabled)
    //        aire-checkbox(label="Too Many Options" value="glorb" checked)
    //    aire-range(label="A Range")
    //
    //    aire-button(label="Success" primary full)
    //    aire-button(label="Cancel" danger)
    //    aire-button(label="Disabled" default disabled)
    //
    //aire-card(default padding hover title="Henlo Baloo")
    //    p I loff you a lot
    ////
    //
    aire-fab(icon="fa fa-pencil" right="20px" bottom="20px" primary)
