template
    aire-application
        aire-header(sticky dark)
            navbar-section(left)
                navbar-item
                    aire-button(icon="fa fa-bars" square click.delegate="toggleOffCanvas()" primary)
            navbar-section(center)
                navbar-item(icon="dist/icons/logo.svg" large logo)
                navbar-item(logo) Aurelia + UIkit
        aire-body(id="heck")
            aire-offcanvas(view-model.ref="offcanvas" container="#heck")
                aire-search(navbar icon offcanvas-header)
                aire-nav(router.bind="router")
            router-view