template
    aire-application
        aire-header(primary)
            navbar-section(left)
            navbar-section(right)
            navbar-section(center)
    form
        aire-input(type="password" horizontal disabled label="Password")
        aire-input(type="number" success label="Great Success")
        aire-select(label="Gender")
    aire-card(default padding hover title="Henlo Baloo")
        p I loff you a lot

