template
    aire-application
        aire-header(primary)
            navbar-section(left)
                navbar-item(icon="dist/icons/logo.svg" large logo)
                navbar-item(logo).pull-left Aurelia-UIKit

            navbar-section(right)
            navbar-section(center)

