template
    form.uk-search(ref="form")
        span(ref="icon" uk-search-icon)
        //TODO handle custom icon
        //TODO handle toggle
        input.uk-search-input(type="search" placeholder.bind="placeholder || ''")