template(ref="container")
    label.uk-form-label(if.bind="label") ${label}
    .uk-form-controls(class="${icon ? 'uk-inline' : ''}")
        aire-icon(icon="uk-form-icon ${icon}")
        input.uk-input(ref="input" type.bind="type" disabled="${disabled}")