template(ref="container")
    label.uk-form-label(if.bind="label" for.bind="id" ref="marker") ${label}
    .uk-form-controls
        input.uk-range(ref="input" type="range"
            disabled.bind="disabled" id.bind="id"
            value.bind="value"
        )