template(ref="container")
    label.uk-form-label(if.bind="label") ${label}
    .uk-form-controls
        input.uk-radio(type="radio" ref="input" disabled="${disabled}" checked.bind="selected" value.bind="value")